[submodule "default/zsh/omz"]
	path = default/zsh/omz
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "default/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = default/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "default/zsh/custom/plugins/zsh-completions"]
	path = default/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "default/zsh/custom/plugins/zsh-autosuggestions"]
	path = default/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
